body {
  font-family: sans-serif;
  font-size: 16px;
}

.createFileForm {
  border-right: solid;
  padding-left: 10px 0;
}

.container {
  margin-top: 5rem;
}

.formCard {
  padding: 10px 0;
}

.nav-item {
  font-size: 0.75rem;
}

.float-right {
  right: 0;
  margin: 0 5rem;
  position: absolute;
}

.btn {
  font-size: 0.75rem;
}

a {
  color: black;
  font-weight: 800;
  font-size: 0.75rem;
}

h3 {
  color: #5E5FFF;
  font-family: 'Gill Sans';
  border-bottom-style: ridge;
  border-bottom-color: #C8C8C8;
  border-bottom-width: 4px;
  margin-bottom: 2rem;
}